<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>{{x}}</h1>
    {% for i in range(x) %}
    {% if loop.index is odd %}

    <div class="flex">
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
    </div>
    {% else %}
    <div class="flex">
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
    </div>
    {% endif %}
    {% endfor %}
</body>

</html>